{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">
          <tbody>
            {% for row in cafes %}
                <tr>
                {% for item in range(length) %}
                    {% if 'http' in row[item] %}
                    <td><a href="{{ row[item] }}">Maps Link</a></td>
                    {% else %}
                    <td>{{ row[item] }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}


          </tbody>
{#          <tbody>#}
{#          {% for row in cafes %}#}
{#          <tr>#}
{#              {% for item in range(len(row)-1) %}#}
{#              <td>#}
{#                  {%  if item == 1: %}#}
{#                      <a href="{{ row[item] }}"> Maps Link </a>#}
{#                  {% else: %}#}
{#                      {{ row[item] }}#}
{#                  {%  endif %}#}
{#                      row[item]#}
{#              </td>#}
{#              {% endfor %}#}
{#          </tr>#}
{#          {% endfor %}#}
{#          </tbody>#}
  	  </table>

      <p><a href="#">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
